<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="${dubbo.application.name}" />

    <!-- 注册中心暴露服务地址 -->
    <dubbo:registry timeout="5000000" protocol="${dubbo.registry.protocol}" check="false"
                    address="${dubbo.registry.address}" version="${dubbo.registry.version}"/>

    <!-- 暴露服务 -->
    <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" />

    <!--<dubbo:service ref="accountService" interface="com.zqb.service.AccountService"/>-->

    <!--<dubbo:service ref="goodsService" interface="com.zqb.service.GoodsService"/>-->

    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.zqb.service.GoodsService" ref="goodsService" />

    <!-- 和本地bean一样实现服务 -->
    <bean id="goodsService" class="com.zqb.service.impl.GoodsServiceImpl" />

</beans>
