<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zqb.dao.GoodsDao">
    <sql id="goods_columns">
        goodsID,
        goodsName,
        goodsPrice,
        totalNumber,
        saleNumber,
        goodsImg,
        goodsScore,
        goodsComment
    </sql>

    <insert id="insertGoods" parameterType="com.zqb.bean.Goods">
        INSERT goods(
        <include refid="goods_columns"/>
        )
        VALUES
        (
        REPLACE(UUID(),'-',''),
        #{goodsName},
        #{goodsPrice},
        #{totalNumber},
        #{saleNumber},
        #{goodsImg},
        #{goodsScore},
        #{goodsComment}
        )
    </insert>

</mapper>