<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--使用zookeeper注册中心服务地址 : dictionary-->
    <dubbo:registry id="consumerRegistry" timeout="5000000" address="${dubbo.registry.address}" version="${dubbo.registry.version}" check="false"/>

    <dubbo:reference registry="consumerRegistry" id="dictionaryCategoryService" interface="com.zqb.service.AccountService" version="${dubbo.registry.version}"  check="false"/>
</beans>
